.service {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px;
}

.service .desc {
    padding: 0 15px;
    overflow: hidden;
}

.service .service-icon {
    float: left;
    padding: 10px;
    color: #72c02c;
    font-size: 35px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

nav.navbar-findcond {
    background: #fff;
    border-color: #ccc;
    box-shadow: 0 0 2px 0 #ccc;
}

nav.navbar-findcond a[role="navbar"] {
    color: #000000;
}

.nav.navbar-findcond .open > a[role="navbar"], .nav .open > a[role="navbar"]:focus, .nav .open > a[role="navbar"]:hover {
    background-color: #eee;
    border-color: #72c02c !important;
}

nav.navbar-findcond ul.navbar-nav a[role="navbar"] {
    color: #000000;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #fff;
}

nav.navbar-findcond ul.navbar-nav a[role="navbar"]:hover,
nav.navbar-findcond ul.navbar-nav a[role="navbar"]:visited,
nav.navbar-findcond ul.navbar-nav a[role="navbar"]:focus,
nav.navbar-findcond ul.navbar-nav a[role="navbar"]:active {
    background: #fff;
}

nav.navbar-findcond ul.navbar-nav a[role="navbar"]:hover {
    border-color: #72c02c;
}

nav.navbar-findcond li.divider {
    background: #ccc;
}

nav.navbar-findcond button.navbar-toggle {
    background: #72c02c;
    border-radius: 2px;
}

nav.navbar-findcond button.navbar-toggle:hover {
    background: #999;
}

nav.navbar-findcond button.navbar-toggle > span.icon-bar {
    background: #fff;
}

nav.navbar-findcond ul.dropdown-menu {
    border: 0;
    background: #fff;
    border-radius: 4px;
    margin: 4px 0;
    box-shadow: 0 0 4px 0 #ccc;
}

nav.navbar-findcond ul.dropdown-menu > li > a[role="navbar"] {
    color: #444;
}

nav.navbar-findcond ul.dropdown-menu > li > a[role="navbar"]:hover {
    background: #72c02c;
    color: #fff;
}

nav.navbar-findcond span.badge {
    background: #72c02c;
    font-weight: normal;
    font-size: 11px;
    margin: 0 4px;
}

nav.navbar-findcond span.badge.new {
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
}

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size {
    font-size: 87px;
}

#custom_carousel .item {

    color: #000;
    background-color: #eee;
    padding: 20px 0;
}

#custom_carousel .controls {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel .controls li.active {
    background-color: #eee;
    border-top: 3px solid #72c02c;
}

#custom_carousel .controls li:hover {
    background-color: #eee;
    border-top: 3px solid #72c02c;
}

#custom_carousel .controls a small {
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

.dv-grouping {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

.dv-header-grouping {
    font: 13px Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
}

.component ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.component ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}