.errorContent
{
    position: absolute;
    bottom: 0;
    width: 98%;
    overflow: hidden;
    margin-left: 0.3em;
    background-image: url("../img/notificationBack.png");
    /*background-repeat: repeat-x;
    background-origin: border-box;*/
    height: 60px;
    z-index: 200;
    padding: 20px 10px 20px 10px;

}

.dialogClose{
    cursor:pointer;
    float:right;
    display:block;
    position:relative;
    margin-right:30px;
    background-image: url("../img/closebar.png");
    background-repeat:no-repeat;
    padding: 0.2em 0.6em;
}

#messages {
    width: 92%;
    height: 70px;
    overflow: auto;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    position: relative;
}

.message {
  border: 1px solid;
  padding: 0px 0px 1px 10px;
}

.message-error {
    color: #D8000C;
    background-color: #FFBABA;
}

.message-icon {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  height: 24px;
  width: 24px;
  margin-top: -3px;
}

.message-icon-error{
    background: url("../img/messages.png") no-repeat;
    background-position: 0px -52px;
}

.message-info {
    color: #00529B;
    background-color: #BDE5F8;
}

.message-icon-info{
    background: url("../img/messages.png") no-repeat;
    background-position: 0px -316px;
}

.message-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.message-icon-warning{
    background: url("../img/messages.png") no-repeat;
    background-position: 0px -448px;
}

.message-sumary {
    margin-left: 0px;
}
