@import "variables";

/***************************/
/*       Buttons           */
/***************************/
.btn-circle {
  border-radius: 50%;
}

/***************************/
/*     UI Grid             */
/***************************/
.ui-grid-text-left {
  text-align: left;
  padding-left: 5px;
}

.ui-grid-text-right {
  text-align: right;
  padding-right: 5px;
}

.ui-grid-pager-control input {
  height: 15px !important;
}

/***************************/
/*       Forms             */
/***************************/
.has-error {
  color: red;
}

/***************************/
/*    Labels and badges    */
/***************************/
label {
  display: inline-block;
  font-family: $badge-font-family;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.42857143;
  font-weight: normal;
  color: #444;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: $badge-padding;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px
}

.badge:empty {
  display: none
}

a.badge:focus, a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.badge-default {
  background-color: $badge-default-color;
}

.badge-default[href]:hover, .badge-default[href]:focus {
  background-color: gray;
}

.badge-primary {
  background-color: $badge-primary-color;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  background-color: #4a7594;
}

.badge-success {
  background-color: $badge-success-color;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  background-color: #3fa05e;
}

.badge-info {
  background-color: $badge-info-color;
}

.badge-info[href]:hover, .badge-info[href]:focus {
  background-color: #3196b4;
}

.badge-warning {
  background-color: $badge-warning-color;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
  background-color: #e4b931;
}

.badge-danger {
  background-color: $badge-danger-color;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  background-color: #d1431c;
}

.badge-sm {
  font-size: $font-size;
  font-family: $font-family;
}

/***************************/
/*    File chooser         */
/***************************/
.app-file-container {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px !important;
  max-width: 160px !important;
}

.app-image-container {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px !important;
  max-width: 160px !important;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.app-image-container-form {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 180px;
  min-width: 150px;
  max-height: 180px !important;
  max-width: 150px !important;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.app-file-container:hover, .app-image-container-form:hover, .app-image-container:hover {
  border-color: #f59942 !important;
  box-shadow: none;
}

/***************************/
/*    Tabs panel           */
/***************************/

.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid $tabline-color-hover;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 3px solid $tabline-color;
  position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 3px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 3px solid $tabline-color-hover;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 3px solid $tabline-color;
}

.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}



.cursor-pointer {
  cursor: pointer;
}

/***************************/
/*      Text Css           */
/***************************/
.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

/***************************/
/*     Block container     */
/***************************/
//5 px
.block-m5 {
  margin: 5px;
}

.block-ml5 {
  margin-left: 5px;
}

.block-mr5 {
  margin-right: 5px;
}

//15 px
.block-m15 {
  margin: 15px;
}

.block-mt15 {
  margin-top: 15px;
}

.block-mb15 {
  margin-bottom: 15px;
}

.block-pt15 {
  padding-top: 15px;
}

.block-pb15 {
  padding-bottom: 15px;
}

.block-lh30 {
  line-height: 30px;
}
