@import "variables";

/***************************/
/*       Buttons           */
/***************************/
.btn-circle {
  border-radius: 50%;
}

/***************************/
/*     UI Grid             */
/***************************/
.ui-grid-text-left {
  text-align: left;
  padding-left: 5px;
}

.ui-grid-text-right {
  text-align: right;
  padding-right: 5px;
}

.ui-grid-pager-control input {
  height: 15px !important;
}

/***************************/
/*       Forms             */
/***************************/
.has-error {
  color: red;
}

/***************************/
/*    Labels and badges    */
/***************************/
label {
  display: inline-block;
  font-family: $badge-font-family;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 1.42857143;
  font-weight: normal;
  color: #444;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: $badge-padding;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px
}

.badge:empty {
  display: none
}

a.badge:focus, a.badge:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer
}

.badge-default {
  background-color: $badge-default-color;
}

.badge-default[href]:hover, .badge-default[href]:focus {
  background-color: gray;
}

.badge-primary {
  background-color: $badge-primary-color;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  background-color: #4a7594;
}

.badge-success {
  background-color: $badge-success-color;
}

.badge-success[href]:hover, .badge-success[href]:focus {
  background-color: #3fa05e;
}

.badge-info {
  background-color: $badge-info-color;
}

.badge-info[href]:hover, .badge-info[href]:focus {
  background-color: #3196b4;
}

.badge-warning {
  background-color: $badge-warning-color;
}

.badge-warning[href]:hover, .badge-warning[href]:focus {
  background-color: #e4b931;
}

.badge-danger {
  background-color: $badge-danger-color;
}

.badge-danger[href]:hover, .badge-danger[href]:focus {
  background-color: #d1431c;
}

.badge-sm {
  font-size: $font-size;
  font-family: $font-family;
}

/***************************/
/*    File chooser         */
/***************************/
.app-file-container {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px !important;
  max-width: 160px !important;
}

.app-image-container {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 160px;
  min-width: 160px;
  max-height: 160px !important;
  max-width: 160px !important;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.app-image-container-form {
  border: 1px dashed #aaa !important;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #cccccc;
  padding: 5px;
  min-height: 180px;
  min-width: 150px;
  max-height: 180px !important;
  max-width: 150px !important;

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.app-file-container:hover, .app-image-container-form:hover, .app-image-container:hover {
  border-color: #f59942 !important;
  box-shadow: none;
}

/***************************/
/*    Tabs panel           */
/***************************/

.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}

.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid $tabline-color-hover;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 3px solid $tabline-color;
  position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 3px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 3px solid $tabline-color-hover;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 3px solid $tabline-color;
}

.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.cursor-pointer {
  cursor: pointer;
}

/***************************/
/*      Text Css           */
/***************************/
.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

/***************************/
/*     Block container     */
/***************************/
//5 px
.block-m5 {
  margin: 5px;
}

.block-ml5 {
  margin-left: 5px;
}

.block-mr5 {
  margin-right: 5px;
}

//15 px
.block-m15 {
  margin: 15px;
}

.block-mt15 {
  margin-top: 15px;
}

.block-mb15 {
  margin-bottom: 15px;
}

.block-pt15 {
  padding-top: 15px;
}

.block-pb15 {
  padding-bottom: 15px;
}

.block-lh30 {
  line-height: 30px;
}

/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
  border-top-color: #3c8dbc;
}

.box.box-info {
  border-top-color: #00c0ef;
}

.box.box-danger {
  border-top-color: #dd4b39;
}

.box.box-warning {
  border-top-color: #f39c12;
}

.box.box-success {
  border-top-color: #00a65a;
}

.box.box-default {
  border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}

.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}

.box .border-right {
  border-right: 1px solid #f4f4f4;
}

.box .border-left {
  border-left: 1px solid #f4f4f4;
}

.box.box-solid {
  border-top: 0px;
}

.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}

.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}

.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}

.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}

.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}

.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}

.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}

.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}

.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}

.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-success {
  border: 1px solid #00a65a;
}

.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}

.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}

.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}

.box .box-group > .box {
  margin-bottom: 5px;
}

.box .knob-label {
  text-align: center;
  color: #333;
  //font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  box-shadow: none !important;
  color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}

.btn-box-tool:active {
  outline: none !important;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.box-body > .table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}

.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.form-control {
  display: block;
  height: 22px;
  padding: 1px 10px;
  font-size: $font-size !important;
  line-height: 20px;
  color: #666666;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled], textarea[disabled], input[type="text"][disabled],
input[type="password"][disabled], input[type="datetime"][disabled],
input[type="datetime-local"][disabled], input[type="date"][disabled],
input[type="month"][disabled], input[type="time"][disabled], input[type="week"][disabled],
input[type="number"][disabled], input[type="email"][disabled], input[type="url"][disabled],
input[type="search"][disabled], input[type="tel"][disabled], input[type="color"][disabled],
.uneditable-input[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

input[type="date"] {
  line-height: 30px;
}

.radio, .checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.radio label, .checkbox label {
  display: inline;
  //font-weight: 300;
  cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.radio + .radio, .checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: 300;
  cursor: pointer;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.has-feedback label ~ .form-control-feedback {
  top: 23px !important;
}